<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anime Movies</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/shows">Top Anime Series</a>
            <a href="/movies">Top Anime Movies</a>
        </div class="row">
            <div class="toppane">
                <h1>My Top 3 Anime Movies</h1>
            </div>
            <div class="column">
                <img src="https://i.ytimg.com/vi/woAHwpOLmyY/maxresdefault.jpg", alt="kimi no na wa">
                <h3>Kimi no Na Wa</h3>
            </div>
            <div class="column">
                <img src="https://occ-0-1433-3647.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABY_VoDbwH2rZiGKVhHPecxFsTcOQHRf3oFova1e5zbpQp6Kuf9twqO8Kyxzk9lZXXn_9uzKoK8gwzehzUmlUOO3mY9ieuoW--HEX.jpg?r=a77", alt="koe no katachi">
                <h3>Koe no Katachi</h3>
            </div>
            <div class="column">
                <img src="https://occ.a.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABRabSo7SpJrQAIe-4wtpc2XNwhGa4AnoqTSclWLUG6YOq_4A3axDqjJrASDusiWFyLSHYc-UWMApIJJ8KubfYJ78Y6YWFEuzuA-5.jpg?r=587", alt="tenki no ko">
                <h3>Tenki no Ko</h3>
            </div>
        </div>
    </body>
</html>