<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anime Series</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/shows">Top Anime Series</a>
            <a href="/movies">Top Anime Movies</a>
        </div>
        </div class="row">
            <div class="toppane">
                <h1>My Top 3 Anime Series</h1>
            </div>
            <div class="column">
                <img src="https://m.media-amazon.com/images/M/MV5BZGFiMWFhNDAtMzUyZS00NmQ2LTljNDYtMmZjNTc5MDUxMzViXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_FMjpg_UX1000_.jpg", alt="naruto shippuden">
                <h3>Naruto Shippuden</h3>
            </div>
            <div class="column">
                <img src="https://m.media-amazon.com/images/M/MV5BYjkxZjllNDAtNWFiYi00OTRkLThjZjktZDQxM2RmOWU5YzQzXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_.jpg", alt="the devil is a part-timer">
                <h3>The Devil is a Part-Timer!</h3>
            </div>
            <div class="column">
                <img src="https://m.media-amazon.com/images/M/MV5BNGM0YTk3MWEtN2JlZC00ZmZmLWIwMDktZTMxZGE5Zjc2MGExXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_FMjpg_UX1000_.jpg", alt="hunter x hunter">
                <h3>Hunter x Hunter</h3>
            </div>
    </body>
</html>